<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen__pos">
      <h2 class="is-hidden">Про наш Ресторан</h2>
      <div class="about-kitchen__contain">
        <p class="about-kitchen__pretitle pretitle">Amet minim mollit non</p>
        <p class="about-kitchen__title title">MIMIHO</p>
        <p class="about-kitchen__text text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-kitchen__thumb">
        <picture>
          <source
            srcset="
              ./images/restaurant/about/desktop/image-1.jpg    1x,
              ./images/restaurant/about/desktop/image-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant/about/tablet/image-1.jpg    1x,
              ./images/restaurant/about/tablet/image-1-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/restaurant/about/mobile/image-1.jpg    1x,
              ./images/restaurant/about/mobile/image-1-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-kitchen__image"
            src="./images/restaurant/about/mobile/image-1-2x.jpg"
            alt="Наша кухня"
            width="460"
          />
        </picture>
      </div>
    </div>
    <div class="about-kitchen__container">
      <div class="about-kitchen__pic">
        <picture>
          <source
            srcset="
              ./images/restaurant/about/desktop/image-2.jpg    1x,
              ./images/restaurant/about/desktop/image-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant/about/tablet/image-2.jpg    1x,
              ./images/restaurant/about/tablet/image-2-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/restaurant/about/mobile/image-2.jpg    1x,
              ./images/restaurant/about/mobile/image-2-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-kitchen__image"
            src="./images/restaurant/about/mobile/image-2-2x.jpg"
            alt="Наша кухня"
            width="460"
          />
        </picture>
      </div>
      <p class="about-kitchen__desc text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-kitchen__wrapper">
      <div class="slider-kitchen-wrapper slider-kitchen--right">
        <div class="slider-kitchen about-kitchen__slider">
          <div class="slider-card">
            <div class="slider-shadow">
              <div class="slider-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/slider/245x245/image-17.jpg    1x,
                      ./images/slider/245x245/image-17-2x.jpg 2x
                    "
                    media="(min-width: 1280px)" />
                  <source
                    srcset="
                      ./images/slider/194x194/image-17.jpg    1x,
                      ./images/slider/194x194/image-17-2x.jpg 2x
                    "
                    media="(min-width: 1024px)" />
                  <source
                    srcset="
                      ./images/slider/245x245/image-17.jpg    1x,
                      ./images/slider/245x245/image-17-2x.jpg 2x
                    "
                    media="(min-width: 414px)" />
                  <img
                    src="./images/slider/245x245/image-17-2x.jpg"
                    alt="Зображення слайдеру"
                    width="245"
                /></picture>
              </div>
            </div>
          </div>
          <div class="slider-card">
            <div class="slider-shadow">
              <div class="slider-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/slider/245x245/image-18.jpg    1x,
                      ./images/slider/245x245/image-18-2x.jpg 2x
                    "
                    media="(min-width: 1280px)" />
                  <source
                    srcset="
                      ./images/slider/194x194/image-18.jpg    1x,
                      ./images/slider/194x194/image-18-2x.jpg 2x
                    "
                    media="(min-width: 1024px)" />
                  <source
                    srcset="
                      ./images/slider/245x245/image-18.jpg    1x,
                      ./images/slider/245x245/image-18-2x.jpg 2x
                    "
                    media="(min-width: 414px)" />
                  <img
                    src="./images/slider/245x245/image-18-2x.jpg"
                    alt="Зображення слайдеру"
                    width="245"
                /></picture>
              </div>
            </div>
          </div>
          <div class="slider-card">
            <div class="slider-shadow">
              <div class="slider-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/slider/245x245/image-9.jpg    1x,
                      ./images/slider/245x245/image-9-2x.jpg 2x
                    "
                    media="(min-width: 1280px)" />
                  <source
                    srcset="
                      ./images/slider/194x194/image-9.jpg    1x,
                      ./images/slider/194x194/image-9-2x.jpg 2x
                    "
                    media="(min-width: 1024px)" />
                  <source
                    srcset="
                      ./images/slider/245x245/image-9.jpg    1x,
                      ./images/slider/245x245/image-9-2x.jpg 2x
                    "
                    media="(min-width: 414px)" />
                  <img
                    src="./images/slider/245x245/image-9-2x.jpg"
                    alt="Зображення слайдеру"
                    width="245"
                /></picture>
              </div>
            </div>
          </div>
          <div class="slider-card">
            <div class="slider-shadow">
              <div class="slider-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/slider/245x245/image-16.jpg    1x,
                      ./images/slider/245x245/image-16-2x.jpg 2x
                    "
                    media="(min-width: 1280px)" />
                  <source
                    srcset="
                      ./images/slider/194x194/image-16.jpg    1x,
                      ./images/slider/194x194/image-16-2x.jpg 2x
                    "
                    media="(min-width: 1024px)" />
                  <source
                    srcset="
                      ./images/slider/245x245/image-16.jpg    1x,
                      ./images/slider/245x245/image-16-2x.jpg 2x
                    "
                    media="(min-width: 414px)" />
                  <img
                    src="./images/slider/245x245/image-16-2x.jpg"
                    alt="Зображення слайдеру"
                    width="245"
                /></picture>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-arrows slider-arrows__kitchen--right">
        <button class="kitchen-prev" type="button">
          <svg class="arrow-image" width="32" height="32">
            <use href="./images/sprite.svg#sl-arrow-left"></use>
          </svg>
        </button>
        <button class="kitchen-next" type="button">
          <svg class="arrow-image" width="32" height="32">
            <use href="./images/sprite.svg#sl-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
