<section class="about-kitchen">
    <div class="container">
      <div class="about-kitchen__pos">
        <h2 class="is-hidden">Про наш Ресторан</h2>
        <div class="about-kitchen__contain">
          <p class="about-kitchen__subtitle subtitle">Amet minim mollit non</p>
          <p class="about-kitchen__title title">MIMIHO</p>
          <p class="about-kitchen__text text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="about-kitchen__thumb">
          <picture>
            <source
              srcset="
                ./images/restaurant/about/desktop/image-1.jpg    1x,
                ./images/restaurant/about/desktop/image-1-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant/about/tablet/image-1.jpg    1x,
                ./images/restaurant/about/tablet/image-1-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restaurant/about/mobile/image-1.jpg    1x,
                ./images/restaurant/about/mobile/image-1-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="about-kitchen__image"
              src="./images/restaurant/about/mobile/image-1.jpg"
              alt="Наша кухня"
              width="460"
            />
          </picture>
        </div>
      </div>
      <div class="about-kitchen__container">
        <div class="about-kitchen__pic">
          <picture>
            <source
              srcset="
                ./images/restaurant/about/desktop/image-2.jpg    1x,
                ./images/restaurant/about/desktop/image-2-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant/about/tablet/image-2.jpg    1x,
                ./images/restaurant/about/tablet/image-2-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restaurant/about/mobile/image-2.jpg    1x,
                ./images/restaurant/about/mobile/image-2-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              class="about-kitchen__image"
              src="./images/restaurant/about/mobile/image-2.jpg"
              alt="Наша кухня"
              width="460"
            />
          </picture>
        </div>
        <p class="about-kitchen__desc text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
  </section>
  