<section class="section hero">
  <div class="container">
    <h1 class="hero__title">mimino</h1>
    <h2 class="hero__subtitle">Ресторан</h2>
    <p class="hero__slogan">смак життя 24/7</p>
    <ul class="reserved">
      <li class="reserved__button">
        <!-- додати атрибут для модалки -->
        <button type="button" class="reserved__table">
          Забронювати столик
        </button>
      </li>
      <li class="reserved__button">
        <!-- додати атрибут для модалки -->
        <button type="button" class="reserved__room">Забронювати номер</button>
      </li>
      <!-- схована кнопка (потрібна для таблет и десктоп)-->
      <li class="reserved__button">
        <!-- реалізувати якорне посилання на меню -->
        <button type="button" class="reserved__room">Переглянути меню</button>
      </li>
    </ul>
    <address>
      <!-- додати шлях до мапи -->
      <a href="" target="_blank" rel="noopener noreferrer nofollow" class="link"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
      <!-- додати іконку -->
    </address>
    <!-- додати шляхи до соцмереж та іконки замість найменувань-->
    <ul class="soc__list list">
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          >Instagram</a
        >
      </li>
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          >Facebook</a
        >
      </li>
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          >Telegramm</a
        >
      </li>
    </ul>
  </div>
</section>
