<section class="restoran__menu container">
  <h3 class="restoran__menu-title" id="restaurant-menu">Меню ресторану</h3>
  <div class="table-flex">
    <div class="table">
      <div class="table__block-item">
        <h4 class="dich__title-group">Гарячі страви</h4>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Борщ з телятини з квасолею</h5>
            <p class="dich__composition">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">400 г</span>
            <span class="dich__price">240 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Суп сирний з куркою</h5>
            <p class="dich__composition">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">400 г</span>
            <span class="dich__price">200 грн</span>
          </div>
        </div>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Паста карбонара</h5>
            <p class="dich__composition">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелен
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">350 г</span>
            <span class="dich__price">430 грн</span>
          </div>
        </div>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Стейк зі свинини</h5>
            <p class="dich__composition">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">400 г</span>
            <span class="dich__price">500 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Горбуша в соусі з білого вина</h5>
            <p class="dich__composition">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">400 г</span>
            <span class="dich__price">400 грн</span>
          </div>
        </div>
      </div>
      <div class="table__blok-item">
        <h4 class="dich__title-group">Гарніри та закуски</h4>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Запечені овочі</h5>
            <p class="dich__composition">Кабачок, перець, помідор, баклажан</p>
          </div>
          <di class="dich__block-two-col">
            <span class="dich__weight">200 г</span>
            <span class="dich__price">230 грн</span>
          </di>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Картопля фрі</h5>
            <p class="dich__composition">Картопля, соус томатний</p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">150 г</span>
            <span class="dich__price">160 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Картопля по-селянськи</h5>
            <p class="dich__composition">Картопля, спеції, соус пікантний</p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">150 г</span>
            <span class="dich__price">160 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Хрумкі соління з бочки</h5>
            <p class="dich__composition">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">250 г</span>
            <span class="dich__price">350 грн</span>
          </div>
        </div>
        <div class="dich__block dich__block--margin">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Крильця курячі в медовому соусі</h5>
            <p class="dich__composition">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">400 г</span>
            <span class="dich__price">420 грн</span>
          </div>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="table__block-item">
        <h4 class="dich__title-group">Салати</h4>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Цезар з куркою</h5>
            <p class="dich__composition">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">230 г</span>
            <span class="dich__price">450 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Цезар з креветками</h5>
            <p class="dich__composition">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">230 г</span>
            <span class="dich__price">300 грн</span>
          </div>
        </div>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Грецький салат</h5>
            <p class="dich__composition">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">230 г</span>
            <span class="dich__price">280 грн</span>
          </div>
        </div>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">М’ясний салат</h5>
            <p class="dich__composition">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">230 г</span>
            <span class="dich__price">300 грн</span>
          </div>
        </div>
      </div>

      <div class="table__block-item">
        <h4 class="dich__title-group">Десерти</h4>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Торт наполеон</h5>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">230 г</span>
            <span class="dich__price">300 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Торт маковий</h5>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">230 г</span>
            <span class="dich__price">300 грн</span>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Тірамісу</h5>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">120 г</span>
            <span class="dich__price">260 грн</span>
          </div>
        </div>
      </div>

      <div class="table__block-item">
        <h4 class="dich__title-group">Напої</h4>

        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Чай чорний/зелений</h5>
          </div>
          <div class="dich__block-two-col">
            <spam class="dich__weight">500 мл</spam>
            <spam class="dich__price">100 грн</spam>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Еспресо</h5>
          </div>
          <div class="dich__block-two-col">
            <spam class="dich__weight">30 мл</spam>
            <spam class="dich__price">100 грн</spam>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Американо</h5>
          </div>
          <div class="dich__block-two-col">
            <spam class="dich__weight">150 мл</spam>
            <spam class="dich__price">100 грн</spam>
          </div>
        </div>
        <div class="dich__block">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Капучино</h5>
          </div>
          <div class="dich__block-two-col">
            <spam class="dich__weight">200 мл</spam>
            <spam class="dich__price">160 грн</spam>
          </div>
        </div>
        <div class="dich__block dich__block--margin">
          <div class="dich__block-one-col">
            <h5 class="dich__title">Лате</h5>
          </div>
          <div class="dich__block-two-col">
            <span class="dich__weight">200 мл</span>
            <span class="dich__price">160 грн</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="secondary_button restoran__button js-open-modal"
    data-modal="table"
  >
    Забронювати столик
  </button>
</section>
