<section class="nomer">
  <h2 class="nomer__title">Зручності у номері</h2>
  <p class="">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul>
    <li class="nomer__content">
      <h3 class="nomer__content-title">Загальні</h3>
      <div class="nomer__content-blok">
        <p class="nomer__content-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="nomer__content-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li>
      <h3 class="nomer__content-title">Ванна кімната</h3>
      <div class="nomer__content-blok">
        <p class="nomer__content-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="nomer__content-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li>
      <h3 class="nomer__content-title">Спальня</h3>
      <p class="nomer__content-text"></p>
    </li>
    <li>
      <h3 class="nomer__content-itle">Кухня</h3>
      <div class="nomer__content-blok">
        <p class="nomer__content-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="nomer__content-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </div>
    </li>
    <li>
      <h3 class="nomer__content-title">Медіа</h3>
      <p class="nomer__content-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </li>
  </ul>
  <button type="button" class="nomer__button">Оформити бронювання</button>
  <a href="" class="nomer__link">Повернутися до перегляду номерів --> </a>
</section>
