@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Film P3 Bold';
  src: url(../fonts/film-p3-bold.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fffdee;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  @media screen and (min-width: 414px) {
    max-width: 414px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding: 0 47px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 85px;
  }
}

// .list {
//   list-style: none;
// }

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pretitle {
  font-family: 'Times New Roman', serif;
  @include font(null, 20px, 23px, null);
  // font-weight: 400;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
    line-height: calc(37 / 32);
  }
}

.title {
  font-family: 'Film P3 Bold';
  @include font(700, 40px, 43px, 0.3em);
  font-style: normal;
  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: calc(69 / 64);
  }
}

.text {
  font-style: normal;
  @include font(600, 12px, 15px, 0.02em);

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
