@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  //   color: ;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 414px) {
    max-width: 414px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.list {
  display: flex;
  list-style: none;
}
