// hotel
@import './hotel/hero';

//restaurant
@import './restaurant/hero';

//room-double
@import './room-double/hero';

//room-luxe
@import './room-luxe/hero';

//room-triple
@import './room-triple/hero';
