.hero-hotel {
  max-width: 414px;
  margin: 0 auto;
  position: relative;
  height: 740px;
  background-color: #3e3e3e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/hotel/hero/mobile/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hotel/hero/mobile/image-1-2x.jpg);
  }

  @include tablet {
    max-width: 1024px;
    height: 720px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hotel/hero/tablet/image-1.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hotel/hero/tablet/image-1-2x.jpg);
    }
  }

  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hotel/hero/desktop/image-1.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hotel/hero/desktop/image-1-2x.jpg);
    }
  }
}
.reserved__table--hotel {
  display: block;
  margin-bottom: 24px;
  @include tablet {
    display: none;
    margin: 0;
  }
}
.reserved__room--hotel{
    display: block;
}
.view-prices {
  display: none;
  @include tablet {
    display: block;
  }
}
