.luxe-room {
  &__container {
    @extend %room__container;
  }

  &__wrapper {
    @extend %room__wrapper;
    &--text {
      @extend %room__wrapper--text;
    }
  }
  &__pretitle {
    @extend %room__pretitle;
  }

  &__logo {
    @extend %room__logo;
  }

  &__title {
    @extend %room__title;
  }

  &__span {
    text-transform: lowercase;
  }

  &__description {
    @extend %room__description;
  }

  &__thumb {
    @extend %room__thumb;
    margin-right: 0;
    margin-left: auto;
    @include tablet {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &__button-container {
    @extend %room__button-container;
    @include tablet {
      align-items: flex-end;
    }
  }
}
