.luxe-room {
  &__container {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include tablet {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 0;
      padding-top: 66px;
      padding-bottom: 104px;
      overflow: visible;
    }
    @include desktop {
      padding-top: 74px;
      padding-bottom: 112px;
    }
  }

  &__wrapper {
    width: 100%;
    @include tablet {
      width: 50%;
    }
    &--text {
      @include tablet {
        padding-bottom: 174px;
      }
      @include desktop {
        padding-right: 56px;
        padding-bottom: 188px;
      }
    }
  }

  &__pretitle {
    margin-bottom: 8px;
    font-family: 'Times New Roman', serif;
    @include font(null, 20px, 23px, null);
    color: #b4b4b4;

    @include tablet {
      margin-bottom: 4px;
      @include font(null, 32px, 37px, null);
    }
  }

  &__logo {
    margin-bottom: 32px;
    font-family: 'Film P3 Bold', sans-serif;
    @include font(700, 40px, 43px, 0.3em);

    color: #494848;

    @include tablet {
      margin-bottom: 62px;
      @include font(null, 64px, 69px, null);
    }
  }

  &__title {
    margin-bottom: 12px;
    font-family: 'Times New Roman', serif;
    @include font(null, 24px, 28px, 0.05em);
    color: #000000;
    text-transform: uppercase;
    text-align: left;

    @include tablet {
      margin-bottom: 16px;
      @include font(null, 30px, 34px, null);
    }

    @include desktop {
      margin-bottom: 24px;
      @include font(null, 36px, 41px, null);
    }
  }
  &__span {
    text-transform: lowercase;
  }

  &__description {
    max-width: 242px;
    @include font(700, 12px, 15px, 0.02em);
    color: #7a7a7a;

    @include tablet {
      max-width: 400px;
      @include font(null, 16px, 20px, null);
    }
  }

  &__thumb {
    width: 244px;
    height: 322px;
    margin-left: auto;
    overflow: hidden;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @include tablet {
      position: absolute;
      z-index: 2;
      top: -32px;
      right: 112px;
      width: 400px;
      height: 524px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
    @include desktop {
      right: 180px;
      width: 460px;
      height: 574px;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding-top: 40px;

    @include tablet {
      align-items: end;
    }
  }
}

.luxe-room__slider {
  transform: translateX(-130px);
  @include tablet {
    transform: translateX(-14px);
  }
}

// .slider_card {
//   padding: 0px 8px;
//   //   // z-index: 99;
//   //   // position: absolute;
//   overflow: hidden;
//   border-radius: 2px;
//   // box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

//   @include tablet {
//     padding: 0px 20px;
//   }
// }

// /* Слайдер */
// .slick-slider {
//   min-width: 0;
//   margin-left: 0;
// }
// /* Оболонка слайдеру */
// .slick-list {
//   overflow: hidden;
//   //дія тіней
//   // padding-left: 15px;
//   // padding-right: 15px;
//   // margin-left: -15px;
//   // margin-right: -15px;
// }
// /* Стрічка слайдів */
// .slider .slick-track {
//   display: flex;
//   align-items: flex-start;
// }

// /* Слайдер на дві картинки */
// .slider-2pictures-invert {
//   position: relative;
// }

// .slider-2pictures-invert .slick-arrow {
//   position: absolute;
//   top: calc(100% + 28px);
//   right: 0;
//   z-index: 10;
//   width: 30px;
//   height: 17px;

//   @include tablet {
//     top: calc(100% + 40px);
//   }

//   @include desktop {
//     top: calc(100% + 47px);
//   }
// }

// .slider-2pictures-invert .slick-arrow.slick-prev {
//   left: calc(100% - 92px);

//   background: url('/src/images/arrow-r-g.svg') 0 0 / 100% no-repeat;
//   &:hover {
//     background: url('../images/arrow-r-y.svg') 0 0 / 100% no-repeat;
//   }
// }
// .slider-2pictures-invert .slick-arrow.slick-prev:before {
//   content: '';
// }

// .slider-2pictures-invert .slick-arrow.slick-next {
//   right: 0;
//   background: url('../images/arrow-l-g.svg') 0 0 / 100% no-repeat;
//   &:hover {
//     background: url('../images/arrow-l-y.svg') 0 0 / 100% no-repeat;
//   }
// }

// .slider-2pictures-invert .slick-arrow.slick-next:before {
//   content: '';
// }

// .prev {
//   height: 17px;
//   color: black;
//   fill: #000000;
//   width: 30px;
//   z-index: 1;
//   cursor: pointer;
// }
