.triple-room {
  &__container {
    @extend %room__container;
    background-color: var(--secondary-background-color);
    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &__wrapper {
    @extend %room__wrapper;
    display: flex;
    flex-direction: column;
    &--text {
      @extend %room__wrapper--text;
      align-self: flex-end;
      text-align: right;

      @include tablet {
        align-self: flex-start;
        padding-left: 45px;
      }
    }
  }

  &__pretitle {
    @extend %room__pretitle;
  }

  &__logo {
    @extend %room__logo;
    transform: translateX(0.3em);
  }

  &__title-container {
    display: inline-block;
    text-align: left;
  }

  &__title {
    @extend %room__title;
  }

  &__description {
    @extend %room__description;
  }

  &__thumb {
    @extend %room__thumb;
    margin-right: auto;

    @include tablet {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__button-container {
    @extend %room__button-container;
    @include tablet {
      align-items: flex-start;
    }
  }
}
