<section class="double-room">
  <div class="container double-room__container">
    <div class="double-room__wrapper double-room__wrapper--text">
      <p class="double-room__pretitle">Amet minim mollit non</p>
      <p class="double-room__logo">MIMIHO</p>
      <h2 class="section__title double-room__title">Двомісний номер</h2>
      <p class="double-room__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="double-room__wrapper">
      <div class="double-room__thumb">
        <picture class="double-room__image">
          <source
            srcset="
              ./images/hotel/luxe/desktop/image-1.jpg    1x,
              ./images/hotel/luxe/desktop/image-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel/luxe/tablet/image-1.jpg    1x,
              ./images/hotel/luxe/tablet/image-1-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel/luxe/mobile/image-1.jpg    1x,
              ./images/hotel/luxe/mobile/image-1-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/hotel/luxe/mobile/image-1.jpg"
            alt="Зображення трьохмісного готельного номеру"
            width="460"
          />
        </picture>
      </div>
    </div>
    <!-- тут повинен бути слайдер -->
    <div class="double-room__wrapper">
      <div class="slider-2pictures-invert double-room__slider">
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/254x254/image-1.jpg    1x,
                ./images/slider/254x254/image-1-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/245x245/image-1.jpg    1x,
                ./images/slider/245x245/image-1-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/194x194/image-1.jpg    1x,
                ./images/slider/194x194/image-1-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/254x254/image-1-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/254x254/image-2.jpg    1x,
                ./images/slider/254x254/image-2-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/245x245/image-2.jpg    1x,
                ./images/slider/245x245/image-2-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/194x194/image-2.jpg    1x,
                ./images/slider/194x194/image-2-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/254x254/image-2-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/254x254/image-3.jpg    1x,
                ./images/slider/254x254/image-3-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/245x245/image-3.jpg    1x,
                ./images/slider/245x245/image-3-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/194x194/image-3.jpg    1x,
                ./images/slider/194x194/image-3-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/254x254/image-3-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/254x254/image-4.jpg    1x,
                ./images/slider/254x254/image-4-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/245x245/image-4.jpg    1x,
                ./images/slider/245x245/image-4-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/194x194/image-4.jpg    1x,
                ./images/slider/194x194/image-4-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/254x254/image-4-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
      </div>
    </div>
    <div class="double-room__wrapper double-room__button-container">
      <a
        href="./room-double.html"
        class="secondary_button double-room__about-button"
        >Детальніше</a
      >
      <button type="button" class="secondary_button double-room__price-button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
