<section class="section hero-hotel">
  <div class="container hero-container">

    <h1 class="hero__title">МІМІНО</h1>

    <h2 class="hero__subtitle">Готель</h2>
    <p class="hero__slogan">смак життя 24/7</p>
    <div class="reserved">
      <!-- додати атрибут для модалки -->
      <button type="button" class="reserved__button reserved__table--hotel">
        Забронювати столик
      </button>
      <!-- додати атрибут для модалки -->
      <button type="button" class="reserved__button reserved__room--hotel">
        Забронювати номер
      </button>
      <!-- додати атрибут для модалки-->
      <button type="button" class="reserved__button view-prices">
        Переглянути ціни
      </button>
    </div>
    <address class="hero__address">
      <svg class="icon-gps" width="20" height="20">
        <use href="./images/sprite.svg#gps"></use>
      </svg>
      <a
        href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="link address"
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>
    <!-- додати шляхи до соцмереж-->
    <ul class="soc__list list">
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          ><svg class="soc__icon" width="24" height="24">
            <use href="./images/sprite.svg#instagram"></use></svg
        ></a>
      </li>
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          ><svg class="soc__icon" width="24" height="24">
            <use href="./images/sprite.svg#facebook"></use></svg
        ></a>
      </li>
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          ><svg class="soc__icon" width="24" height="24">
            <use href="./images/sprite.svg#telegram"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
