<section class="triple-room">
  <div class="container triple-room__container">
    <div class="triple-room__wrapper triple-room__wrapper--text">
      <p class="triple-room__pretitle">Amet minim mollit non</p>
      <p class="triple-room__logo">MIMIHO</p>
      <h2 class="section__title triple-room__title">Трьохмісний номер</h2>
      <p class="triple-room__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="triple-room__wrapper">
      <div class="triple-room__thumb">
        <picture class="triple-room__image">
          <source
            srcset="
              ./images/hotel/luxe/desktop/image-1.jpg    1x,
              ./images/hotel/luxe/desktop/image-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel/luxe/tablet/image-1.jpg    1x,
              ./images/hotel/luxe/tablet/image-1-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel/luxe/mobile/image-1.jpg    1x,
              ./images/hotel/luxe/mobile/image-1-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/hotel/luxe/mobile/image-1.jpg"
            alt="Зображення трьохмісного готельного номеру"
            width="460"
          />
        </picture>
      </div>
    </div>
    <!-- тут повинен бути слайдер -->
    <div class="triple-room__wrapper">
      <div class="slider triple-room__slider">
        <div class="slider_card">
          <img
            src="./images/slider/254 x 254/image-1.jpg"
            alt="Зображення слайдеру"
            width="254"
          />
        </div>
        <div class="slider_card">
          <img
            src="./images/slider/254 x 254/image-1.jpg"
            alt="Зображення слайдеру"
            width="254"
          />
        </div>
        <div class="slider_card">
          <img
            src="./images/slider/254 x 254/image-1.jpg"
            alt="Зображення слайдеру"
            width="254"
          />
        </div>
        <div class="slider_card">
          <img
            src="./images/slider/254 x 254/image-1.jpg"
            alt="Зображення слайдеру"
            width="254"
          />
        </div>
      </div>
    </div>
    <!-- <button
      class="slick-prev slick-arrow"
      aria-label="Previous"
      type="button"
      style="display: block"
    >
      Previous
    </button> -->

    <div class="triple-room__wrapper triple-room__button-container">
      <a
        href="./room-triple.html"
        class="secondary_button triple-room__about-button"
        >Детальніше</a
      >
      <button type="button" class="secondary_button triple-room__price-button">
        Переглянути ціни
      </button>
    </div>
  </div>
  <!-- <button type="button" class="prev"><img src="./images/arrow-r.svg" /></button> -->
</section>
