<!-- slick-slider -->
<!-- Add the slick-theme.css if you want default styling -->
<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>
<!-- Add the slick-theme.css if you want default styling -->
<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
/>

<section class="triple-room">
  <div class="container triple-room__container">
    <div class="triple-room__text-container">
      <p class="triple-room__pretitle">Amet minim mollit non</p>
      <p class="triple-room__logo">MIMIHO</p>
      <div class="triple-room__title-container">
        <h2 class="section__title triple-room__title">Трьохмісний номер</h2>
        <p class="triple-room__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="triple-room__thumb">
      <picture class="triple-room__image">
        <source
          srcset="./images/hotel/luxe/mobile/image-1.jpg 1x, ./images/hotel/luxe/mobile/image-1.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/hotel/luxe/mobile/image-1.jpg 1x, ./images/hotel/luxe/mobile/image-1.jpg 2x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="./images/hotel/luxe/mobile/image-1.jpg 1x, ./images/hotel/luxe/mobile/image-1.jpg 2x"
          media="(min-width: 414px)"
        />
        <img
          src="./images/hotel/luxe/mobile/image-1.jpg"
          alt="Зображення трьохмісного готельного номеру"
          width="244"
        />
      </picture>
    </div>
    <!-- тут повинен бути слайдер -->
    <div class="triple-room__slider">
      <div>
        <img
          src="./images/slider/194 x 194/image-1.jpg"
          alt="Зображення слайдеру"
          width="194"
        />
      </div>
      <div>
        <img
          src="./images/slider/194 x 194/image-1.jpg"
          alt="Зображення слайдеру"
          width="194"
        />
      </div>
      <div>
        <img
          src="./images/slider/194 x 194/image-1.jpg"
          alt="Зображення слайдеру"
          width="194"
        />
      </div>
      <div>
        <img
          src="./images/slider/194 x 194/image-1.jpg"
          alt="Зображення слайдеру"
          width="194"
        />
      </div>
    </div>
    <button type="button" class="slick-prev">Previous</button>
    <a href="./room-triple.html" class="button triple-room__about-button"
      >Детальніше</a
    >
    <button type="button" class="button triple-room__price-button">
      Переглянути ціни
    </button>
  </div>
</section>
<!-- slick jquery js -->
<script
  type="text/javascript"
  src="//code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
  type="text/javascript"
  src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>

<!-- slick js -->
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>

<!-- slick - скрипт для запуску -->
<script type="module" src="./js/slick.js"></script>
