<section class="nomer container">
  <div class="nomer__align">
    <h2 class="nomer__title">Зручності у номері</h2>
    <p class="nomer__title-content">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="list">
      <li class="nomer__content">
        <h3 class="nomer__content-title">Загальні</h3>
        <div class="nomer__content-blok">
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="nomer__content">
        <h3 class="nomer__content-title">Ванна кімната</h3>
        <div class="nomer__content-blok nomer__content-blok--gap">
          <p class="nomer__content-text nomer__content-text--width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="nomer__content">
        <h3 class="nomer__content-title">Спальня</h3>
        <div class="nomer__content-blok">
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="nomer__content">
        <h3 class="nomer__content-title">Кухня</h3>
        <div class="nomer__content-blok">
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="nomer__content">
        <h3 class="nomer__content-title">Медіа</h3>
        <div class="nomer__content-blok">
          <p class="nomer__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="nomer__blok-link">
    <button type="button" class="nomer__button">Оформити бронювання</button>
    <a href="" class="link nomer__link">
      <span class="nomer__link-text">Повернутися до перегляду номерів</span>
      <svg width="20px" height="20px" class="nomer__link-icon">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
