<section class="section hero-triple">
  <div class="single-item">
    <div class="room-slider-item">
      <div class="container room-container">
        <div class="room-box">
          <picture>
            <source
              srcset="
                ./images/rooms/luxe/hero/desktop/image-1.jpg    1x,
                ./images/rooms/luxe/hero/desktop/image-1-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/rooms/luxe/hero/tablet/image-1.jpg    1x,
                ./images/rooms/luxe/hero/tablet/image-1-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/rooms/luxe/hero/mobile/image-1.jpg    1x,
                ./images/rooms/luxe/hero/mobile/image-1-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/rooms/luxe/hero/desktop/image-1.jpg"
              alt="Кімната з двоспальним ліжком"
              width="1280"
              class="room-img"
            />
          </picture>
          <div class="room-description">
            <h1 class="hero__title--room">
              двомісний номер <span class="lux">люкс</span>
            </h1>
            <p class="hero__text--room">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <!-- додати атрибут для модалки -->
        <button type="button" class="reserved__button room-button js-open-modal" data-modal="price">
          Переглянути ціни
        </button>
        <address class="hero__address room__address">
          <svg class="icon-gps" width="20" height="20">
            <use href="./images/sprite.svg#gps"></use>
          </svg>
          <a
            href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="link address"
            >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
          >
        </address>
        <!-- додати шляхи до соцмереж-->
        <ul class="soc__list soc__list--room list">
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#instagram"></use></svg></a>
          </li>
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#facebook"></use></svg></a>
          </li>
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#telegram"></use></svg></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="room-slider-item">
      <div class="container room-container">
        <div class="room-box">
          <picture>
            <source
              srcset="
                ./images/rooms/luxe/hero/desktop/image-2.jpg    1x,
                ./images/rooms/luxe/hero/desktop/image-2-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/rooms/luxe/hero/tablet/image-2.jpg    1x,
                ./images/rooms/luxe/hero/tablet/image-2-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/rooms/luxe/hero/mobile/image-2.jpg    1x,
                ./images/rooms/luxe/hero/mobile/image-2-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/rooms/luxe/hero/desktop/image-2.jpg"
              alt="Кімната з двоспальним ліжком"
              width="1280"
              class="room-img"
            />
          </picture>
          <div class="room-description">
            <h1 class="hero__title--room">
              двомісний номер <span class="lux">люкс</span>
            </h1>
            <p class="hero__text--room">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <!-- додати атрибут для модалки -->
        <button type="button" class="reserved__button room-button js-open-modal" data-modal="price">
          Переглянути ціни
        </button>
        <address class="hero__address room__address">
          <svg class="icon-gps" width="20" height="20">
            <use href="./images/sprite.svg#gps"></use>
          </svg>
          <a
            href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="link address"
            >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
          >
        </address>
        <!-- додати шляхи до соцмереж-->
        <ul class="soc__list soc__list--room list">
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#instagram"></use></svg></a>
          </li>
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#facebook"></use></svg></a>
          </li>
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#telegram"></use></svg></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="room-slider-item">
      <div class="container room-container">
        <div class="room-box">
          <picture>
            <source
              srcset="
                ./images/rooms/luxe/hero/desktop/image-3.jpg    1x,
                ./images/rooms/luxe/hero/desktop/image-3-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/rooms/luxe/hero/tablet/image-3.jpg    1x,
                ./images/rooms/luxe/hero/tablet/image-3-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/rooms/luxe/hero/mobile/image-3.jpg    1x,
                ./images/rooms/luxe/hero/mobile/image-3-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/rooms/luxe/hero/desktop/image-3.jpg"
              alt="Кімната з двоспальним ліжком"
              width="1280"
              class="room-img"
            />
          </picture>
          <div class="room-description">
            <h1 class="hero__title--room">
              двомісний номер <span class="lux">люкс</span>
            </h1>
            <p class="hero__text--room">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <!-- додати атрибут для модалки -->
        <button type="button" class="reserved__button room-button js-open-modal" data-modal="price">
          Переглянути ціни
        </button>
        <address class="hero__address room__address">
          <svg class="icon-gps" width="20" height="20">
            <use href="./images/sprite.svg#gps"></use>
          </svg>
          <a
            href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="link address"
            >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
          >
        </address>
        <!-- додати шляхи до соцмереж-->
        <ul class="soc__list soc__list--room list">
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#instagram"></use></svg></a>
          </li>
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#facebook"></use></svg></a>
          </li>
          <li class="soc__item">
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              ><svg class="soc__icon" width="24" height="24">
                <use href="./images/sprite.svg#telegram"></use></svg></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
