<section class="section hero">
  <div class="container">
    <img src="" alt="" width="" class="hero__img" />
    <!-- <picture>
                <source
                  srcset="
                    ./images/room/demianenko.jpg    1x,
                    ./images/team/demianenko-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/team/demianenko-tab.jpg    1x,
                    ./images/team/demianenko-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/team/demianenko-mob.jpg    1x,
                    ./images/team/demianenko-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./images/team/demianenko.jpg"
                  alt="хлопець в бордовій сорочці"
                  width="450"
                  class="team-list-img"
                />
              </picture> -->
    <h1 class="hero__title">двомісний номер люкс</h1>
    <p class="hero__slogan">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <!-- додати атрибут для модалки -->
    <button type="button">Переглянути ціни</button>
    <address>
      <!-- додати шлях до мапи -->
      <a href="" target="_blank" rel="noopener noreferrer nofollow" class="link"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
      <!-- додати іконку -->
    </address>
    <!-- додати шляхи до соцмереж та іконки замість найменувань-->
    <ul class="soc__list list">
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          >Instagram</a
        >
      </li>
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          >Facebook</a
        >
      </li>
      <li class="soc__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc__link link"
          >Telegramm</a
        >
      </li>
    </ul>
  </div>
</section>
