<div class="is-hidden modal-section">
  <div class="modal-table">
    <button type="button" class="modal-btn" data-modal-close></button
    ><svg class="model-close-icon" width="24" height="24">
      <use></use>
    </svg>

    <p class="modal-titel">забронювати столик</p>
    <form class="form">
      <label class="modal-lable"
        ><input
          class="modal-input"
          type="text"
          name="client"
          placeholder="Ваше ім'я"
        />На кого забронювати столик?</label
      >
      <label class="modal-lable"
        ><input
          class="modal-input"
          type="text"
          name="tel"
          placeholder="+38 (___) ___-__-__"
        />Номер телефону</label
      >

      <select id="table" name="table">
        <option value="two">2</option>
        <option value="thre">3</option>
        <option value="four">4</option>
      </select>
      <lable class="modal-lable" for="table"
        >Столик на яку кількість осіб?</lable
      >

      <select id="reservation" name="reservation">
        <option value="today">Сьогодні</option>
        <option value="tomorrow">Завтра</option>
        <option value="after-tomorow">Післязавтра</option>
      </select>
      <label class="modal-lable" for="reservation"
        >На яку дату бронювати?</label
      >

      <button class="modal-resevation" type="submit">
        оформити бронювання
      </button>
    </form>
  </div>
</div>
