<!-- додати is-hidden -->
<div class="modal modal-section   is-hidden" data-modal="room">
  <!-- book room -->
  <div class="modal-room">
    <!-- close modal button -->
    <svg class="js-modal-close modal-close-btn">
      <use href="./images/sprite.svg#icon-x"></use>
    </svg>

    <h2 class="modal-title">забронювати номер</h2>
    <form>
      <div class="tab-desk-form-wrapper">
        <div class="tdfw-item">
          <input
            class="modal-info"
            type="text"
            name="client"
            id="client"
            placeholder="Ваше ім'я"
          />
          <label class="modal-label" for="client">
            На кого забронювати номер?</label
          >
        </div>
        <div class="tdfw-item">
          <input
            class="modal-info"
            type="tel"
            name="tel"
            id="tel"
            placeholder="+38 (___) ___-__-__"
            value="+38 (___) ___-__-__"
            pattern="+38[0-9]{3}[0-9]{3}-[0-9]{2}-[0-9]{2}"
          />
          <label class="modal-label" for="tel"> Номер телефону</label>
        </div>
        <div class="tdfw-item"></div>
        <div class="tdfw-item">
          <select class="modal-info" id="room-type" name="room-type">
            <option value="double-luxe">Двомісний люкс</option>
            <option value="triple">Трьохмісний</option>
            <option value="double">Двомісний</option>
          </select>
          <label class="modal-label" for="room-type">Категорія номеру</label>
        </div>
        <div class="tdfw-item">
          <select class="modal-info" id="date-arrival" name="date-arrival">
            <option value="today">Сьогодні</option>
            <option value="tomorrow">Завтра</option>
            <option value="after-tomorrow">Післязавтра</option>
          </select>
          <label class="modal-label" for="date-arrival">Дата заїзду</label>
        </div>
        <div class="tdfw-item">
          <select class="modal-info" id="date-leave" name="date-leave">
            <option value="today">Сьогодні</option>
            <option value="tomorrow">Завтра</option>
            <option value="after-tomorrow">Післязавтра</option>
          </select>
          <label class="modal-label last-label" for="date-leave"
            >Дата виїзду</label
          >
        </div>
      </div>

      <!-- оформити бронювання закриває модальше вікно -->
      <button class="modal-submit-btn" type="submit">
        оформити бронювання
      </button>
    </form>
  </div>
</div>

<!-- підкладка затемнення під модільним вікном -->
<div class="overlay" id="overlay-modal"></div>