<div class="is-hidden">
  <div class="modal-table">
    <button type="modal-button" class="modal-close" data-modal-close></button>
    <svg class="model-close-icon" width="24" height="24">
      <use href="./images/icon/icon.svg#icon-close"></use>
    </svg>

    <p class="modal-titel">забронювати столик</p>
    <form>
      <label
        ><input type="text" name="client" placeholder="Ваше ім'я" />На кого
        забронювати столик?</label
      >
      <label><input type="text" name="tel" />Номер телефону</label>
      <select id="table" name="table">
        <option></option>
      </select>
    </form>
  </div>
</div>
