<footer class="footer">
  <div class="footer__container">
    <a href="#" class="footer__logo">Mimino</a>

    <div class="footer__menu">
      <ul>
        <li class="list footer__menu-item">
          <a href="" class="link footer__link">Головна</a>
        </li>
        <li class="list footer__menu-item">
          <a href="" class="link footer__link">Ресторан</a>
        </li>
        <li class="list footer__menu-item">
          <a href="./hotel.html" class="link footer__link">Готель</a>
        </li>
      </ul>

      <div class="footer__social--mob">
        <ul class="footer__soc">
          <li class="list">
            <a href="" class="soc__icon">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="list">
            <a href="" class="soc__icon">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="list">
            <a href="" class="soc__icon">
              <svg width="19.5px" height="17.5px">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__btn-social">
      <ul class="footer__btn-soc">
        <li class="list footer__btn-item">
          <button type="button" class="footer__button">
            <span class="btn-label">Instagram</span>
            <a href="" class="soc__icon">
              <svg width="20 px" height="20 px">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </button>
        </li>
        <li class="list footer__btn-item">
          <button type="button" class="footer__button">
            <span class="btn-label">Facebook</span>
            <a href="" class="soc__icon">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </button>
        </li>
        <li class="list footer__btn-item">
          <button type="button" class="footer__button">
            <span class="btn-label">Telegram</span>
            <a href="" class="soc__icon">
              <svg width="19.5px" height="17.5px">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</footer>
