<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo-box">
      <a href="./index.html">
        <p class="footer__logo">mimiho</p>
      </a>
    </div>
    <div class="footer__container-item">
      <ul class="footer__nav-list">
        <li><a class="footer__nav-link" href="./index.html">Головна</a></li>
        <li>
          <a class="footer__nav-link" href="./restaurant.html">Ресторан</a>
        </li>
        <li><a class="footer__nav-link" href="./hotel.html">Готель</a></li>
      </ul>
      <ul class="footer__soc-list">
        <li>
          <a class="socials-item footer__soc-item" href=""
            ><span class="footer-soc-label">Telegram</span>
            <svg class="socials-icon" aria-hidden="true" focusable="false">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="socials-item footer__soc-item" href=""
            ><span class="footer-soc-label">Facebook</span>
            <svg class="socials-icon" aria-hidden="true" focusable="false">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="socials-item footer__soc-item" href=""
            ><span class="footer-soc-label">Instagram</span>
            <svg class="socials-icon" aria-hidden="true" focusable="false">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
