<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="./index.html">mimiho</a>
    <nav>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="./restaurant.html">Ресторан</a>
          <div class="header__contacts-box">
            <a class="header__contacts" href="tel:+0955559533">
              <svg class="header__contacts-icon" aria-label="phone">
                <use href="./images/sprite.svg#phone"></use></svg
              ><span class="header__contacts-number">095 555 95 33</span>
            </a>
          </div>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="./hotel.html">Готель</a>
          <div class="header__contacts-box" role="list">
            <a class="header__contacts" href="tel:+0668491089">
              <svg class="header__contacts-icon" aria-label="phone">
                <use href="./images/sprite.svg#phone"></use>
              </svg>
              <span class="header__contacts-number">066 849 10 89</span>
            </a>
            <a
              class="header__contacts header__contacts--additional"
              href="tel:+0672758540"
            >
              <span class="header__contacts-number">067 275 85 40</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <!-- у мобільному та таблеті соц.мережі переходять в hero -->
    <!-- <ul class="header__socials-list">
    </ul> -->
  </div>
</header>
