<header class="header__section">
  <nav class="nav__line">
    <a class="header__logo" href="./index.html">міміно</a>
    <ul class="nav__list">
      <li>
        <div class="nav__item">
          <a class="nav__link" href="./restaurant.html">Ресторан</a>
          <a class="header__contacts" href="tel:+0955559533">
            <svg class="header__icon-contacts">
              <use href="./images/sprite.svg#phone"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <div class="nav__item">
          <a class="nav__link" href="./hotel.html">Готель</a>
          <a class="header__contacts" href="tel:+0668491089">
              <svg class="header__icon-contacts">
                <use href="./images/sprite.svg#phone"></use>
              </svg>
          </a>
        </div>
      </li>
    </ul>
  </nav>

  <!-- у молільному та таблеті соц.мережі переходять в hero -->

  <!-- <div>
    <ul class="header__socials-list">
      <li><a class="header__socials-item" href="">inst
        <svg class="header__icon-socials" width="24" height="24">
          <use></use>
        </svg>
      </a></li>

      <li><a class="header__socials-item" href="">fb
        <svg class="header__icon-socials" width="24" height="24">
          <use></use>
        </svg>
      </a></li>

      <li><a class="header__socials-item" href="">tlg
        <svg class="header__icon-socials" width="24" height="24">
          <use></use>
        </svg>
      </a></li>
    </ul>
  </div> -->



  <!-- десктопна версія нижче -->

  <!-- <nav>
    <a class="header__logo" href="./index.html">МІМІНО</a>
    <ul class="nav__list">
      <li>
        <div>
          <a class="nav__link" href="./restaurant.html">Ресторан</a>
          <a href="tel:+0955559533">
            <svg class="header__icon-contacts" width="24" height="24">
              <use></use>
            </svg>
            095 555 95 33</a>
        </div>
      </li>
      <li>
        <div>
          <a class="nav__link" href="./hotel.html">Готель</a>
            <ul>
              <li><a href="tel:+0668491089">
                <svg class="header__icon-contacts" width="24" height="24">
                  <use></use>
                </svg>
                066 849 10 89</a></li>
              <li><a href="tel:+0672758540">067 275 85 40</a></li>
            </ul>
        </div>
      </li>
    </ul>
  </nav>
  <div>
    <ul class="header__socials-list">
      <li><a class="header__socials-item" href="">inst
        <svg class="header__icon-socials" width="24" height="24">
          <use></use>
        </svg>
      </a></li>

      <li><a class="header__socials-item" href="">fb
        <svg class="header__icon-socials" width="24" height="24">
          <use></use>
        </svg>
      </a></li>

      <li><a class="header__socials-item" href="">tlg
        <svg class="header__icon-socials" width="24" height="24">
          <use></use>
        </svg>
      </a></li>
    </ul>
  </div> -->
</header>
