<!-- приховати всі модалки -->
<div class="is-hidden">

    <!-- book room -->
    <div class="modal">
    <!-- close modal button -->
    <svg width="24" height="24">
        <use></use>
    </svg>

    <h2>забронювати номер</h2>
    <form>
        <label><input type="text">На кого забронювати номер?</label>
        <label><input type="text">Номер телефону</label>
        <label><input type="text">Категорія номеру</label>
        <label><input type="text">Дата заїзду</label>
        <label><input type="text">Дата виїзду</label>
        <button type="submit">оформити бронювання</button>
    </form>
    </div>

</div>