<div class="is-hidden">
  <div class="modal-table">
    <svg width="24" height="24">
      <use></use>
    </svg>
    <h2>забронювати номер</h2>
    <form>
      <label
        ><input type="text" name="client" placeholder="Ваше ім'я" />На кого
        забронювати столик?</label
      >
      <label
        ><input type="text" name="tel" placeholder="Номер телефону"
      /></label>
      <select id="table" name="table">
        <option value="one-person">1</option>
        <option value="two-person">2</option>
        <option value="three-person">3</option>
      </select>
      <label for="table">Столик на яку кількість осіб?</label>
    </form>
  </div>
</div>
