.footer__container {
  display: flex;
  align-items: center;
  padding: 40px 0;
  background-color: var(--bg-footer);

  @include tablet {
    padding: 80px 0;
  }
}

.footer__logo {
  @extend %logo_font;
  @include font(700, 43px, 49px, 0.3em);
  color: var(--inactive-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.2s ease-in-out;

  @include tablet {
    font-size: 64px;
    line-height: calc(69 / 64);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transform: scale(1.1);
  }
}

.footer__logo-box {
  display: flex;
  justify-content: center;
  flex-basis: 270px;

  @include tablet {
    flex-basis: 50%;
    padding: 0;
  }
}

.footer__container-item {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    flex-direction: row;
    gap: 200px;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav-link {
  @include font(500, 20px, 24px, 0.02em);
  color: var(--inactive-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__soc-list {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include tablet {
    flex-direction: column;
    gap: 12px;
  }
}

.footer__soc-item {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    padding: 8px 12px;

    border: 0.5px solid var(--inactive-link-color);
    border-radius: 2px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }
}

.footer-soc-label {
  display: none;
  @include tablet {
    display: inline;
    @include font(null, 16px, 20px, 0.02em);
  }
}
