.header__section{
    background-color: #3e3e3e;
    & a{
        text-decoration: none;
    }
    & ul{
        list-style: none;
        padding-left: 0;
    }
}

.header__logo {
  text-transform: uppercase;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(39/36);
  letter-spacing: 0.3em;
  color: #ffffff;

}

.nav__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav__item{
    display: flex;
    gap: 6px;
    align-items: center;
}

.nav__link{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: #F3C653;
}

.header__icon-contacts {
  width: 24px;
  height: 24px;
  fill: #f3c653;
}


// сховати на мобільному екрані надлишкові елементи

.mob-hide{
    display: none;
}