.header__section{
    // background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    position: absolute;
    z-index: 1;
    width: 100%;

    padding: 16px 0 9px 0;
    & a{
        text-decoration: none;
    }
    & ul{
        list-style: none;
        padding-left: 0;
    }

    @media screen and (min-width:1024px) {
        padding: 24px 0 33px 0;
    }
}

.header__logo {
  text-transform: uppercase;
  font-family: 'Film P3 Bold';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(39/36);
  letter-spacing: 0.3em;
  color: #ffffff;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: calc(43/40);
  }
}

.nav__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media screen and (min-width: 1024px) {
        gap: 72px;
    }
}

.nav__item{
    display: flex;
    gap: 6px;
    align-items: center;
    @media screen and (min-width:1024px) {
        gap: 32px;
    }
}

.nav__link{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: rgba(243, 198, 83, 0.7);

    &:hover, 
    &:focus{
        color: var(--accent-color);
    }
}

.header__contacts{
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.8);
}

.header__icon-contacts {
  width: 24px;
  height: 24px;
  fill: rgba(243, 198, 83, 0.7);

  &:hover,
  &:focus{
    fill: var(--accent-color);
  }
}


// сховати на екрані надлишкові елементи

.mob-hide-tel{
    display: none;

    @media screen and (min-width: 1024px) {
        display: inline;
        font-size: 14px;
        line-height: calc(17/14);
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.8);
    }
}
.holel-numbers{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.tablet-desc-show{
    @media screen and (max-width: 1024px){
        display: none;
    }
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px;

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }

    &:hover .header__contacts, &:hover .mob-hide-tel, 
    &:focus .header__contacts, &:focus .mob-hide-tel{
        color: #ffffff;
    }
    &:hover .header__icon-contacts,
    &:focus .header__icon-contacts{
        fill:#F3C653;
    }
    // не працює філ на іконках через ховер на блок з бордером
}

.tablet-desc-hide{
    @media screen and (min-width: 1024px){
        display: none;
    }
}

.mob-hide-socials{
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
    }
}

.header__socials-list{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

// .header__socials-item{
//     width: 24px;
//     height: 24px;
// }

.header__icon-socials{
    fill: rgba(243, 198, 83, 0.7);

    &:hover, &:focus{
        fill: #F3C653;
    }
}
