.address {
  font-style: normal;
  text-align: left;
  background-color: #fffdee;

  .link {
    text-decoration: none;
  }

  & .container {
    height: 100%;
  }

  & .container {
    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 101px;
      color: #c79002;
    }

    & .section-title__visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }

    @media screen and (min-width: 1280px) {
      gap: 108px;
    }
  }

  @media screen and (min-width: 414px) {
    padding-top: 36px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    text-align: left;
  }

  &__title {
    margin-bottom: 12px;
    color: #494848;
    @media screen and (min-width: 1024px) {
      margin-bottom: 8px;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
    color: #5f5f5f;
    @media screen and (min-width: 1024px) {
      margin-bottom: 52px;
    }
  }

  &__item {
    @media screen and (min-width: 414px) {
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  &__label {
    width: 102px;
    // margin-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #c79002;

    @media screen and (min-width: 1024px) {
      margin-bottom: 8px;
    }
  }

  &__link {
    box-sizing: border-box;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    background: #ffffff;

    border: 0.5px solid #f3c653;
    border-radius: 2px;
    fill: #c79002;
    @media screen and (min-width: 414px) {
      margin-left: 22px;
    }
    @media screen and (min-width: 1024px) {
      margin-left: 0;
    }

    &-icon {
      size: 12px;
      margin-right: 8px;
    }
  }

  .is-hidden {
    opacity: 0;
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 1.21;

    letter-spacing: 0.02em;

    // display: flex;
    // align-items: center;

    color: #494848;

    &--ml {
      margin-left: 11px;
    }

    &--gps {
      width: 260px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.01em;

      color: #494848;
    }

    &--two-lines {
      @media screen and (min-width: 1024px) {
        display: flex;
        gap: 5px;
      }
    }
  }

  &__list &__item + &__item {
    margin-top: 9px;
  }
  &__item:last-child > &__link {
    width: 260px;

    @media screen and (min-width: 1024px) {
      width: 285px;
    }
  }

  .address__map {
    height: 100%;
    display: flex;
    align-items: stretch;
  }
}
