// Руденко С. - додав собі reset, бо не працював
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

// Руденко С. -міксини

@mixin font($weight, $size, $height, $spacing) {
  font-weight: $weight;
  font-size: $size;
  line-height: calc($height / $size);
  letter-spacing: $spacing;
}
@mixin mobile {
  @media screen and (min-width: 414px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

.triple-room {
  font-family: 'Montserrat';
  background-color: #f0ecd6;

&__container {
  // властивості загального контейнеру
  padding: 32px 15px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @include mobile {
    max-width: 414px;
  }
  @include tablet {
    max-width: 1024px;
  }
  @include desktop {
    max-width: 1280px;
  }
// власні властивості 
  position: relative;
  overflow: hidden;
}

&__text-container {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

&__pretitle {
  margin-bottom: 8px;
  font-family: 'Times New Roman';
  @include font(400, 20px, 23px, null);

  color: #b4b4b4;

  @include desktop {
    @include font(null, 32px, 37px, null);
  }
}

&__logo {
  margin-bottom: 32px;
  font-family: 'Film P3';
  @include font(700, 40px, 43px, 0.03em);

  color: #494848;

  @include desktop {
    @include font(null, 64px, 69px, null);
  }
}

&__title-container {
  display: inline-block;
}

&__title {
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  @include font(700, 24px, 28px, 0.05em);
  color: #000000;
  text-transform: uppercase;
  @include desktop {
    @include font(null, 36px, 41px, null);
  }
}

&__description {
  margin-bottom: 32px;
  max-width: 242px;
  text-align: left;
  @include font(700, 12px, 15px, 0.02em);
  color: #7a7a7a;

  @include desktop {
    @include font(null, 16px, 20px, null);
  }
}

&__thumb {
  width: 244px;
  height: 322px;
  margin-bottom: 32px;
  background-color: #dadada;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
}


// .triple-room__image {
// }

.triple-room__slider {
  // width: auto;
  // overflow: hidden;
  position: absolute;
  left: 130px;
  margin-bottom: 20px;
}

// .slider_card {
//   // margin-right: 16px;
//   overflow: hidden;
//   background: #dadada;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
//   border-radius: 2px;
// }
.slick_prev {
  color: red;
}

.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 236px;
  @include font(700, 16px, 20px, 0.02em);
  text-align: center;
  color: #f3c653;
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 25px;
  &:hover,
  &:focus {
    background-color: #ffffff;
    border: 2px solid #f3c653;
    border-radius: 25px;
  }
}

.triple-room__about-button {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.triple-room__price-button {
  margin-left: auto;
  margin-right: auto;
}
