.modal-section{
    background-color: #fffdee;
    padding-top: 60px;
}


.modal-table {
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
.modal-btn {
}
.model-close-icon {
}
.modal-titel {
font-family: 'Times New Roman';
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #000000;
text-transform: uppercase;
text-align: center;

}
.modal-lable {
}

.modal-input{
    width: 100%;
    height: ;

}


.modal-resevation {
width: 384px;
height: 64px;
background: #000000;
border: 1px solid #F3C653;
border-radius: 2px;
font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #FFFFFF;
text-transform: uppercase;
}