<section class="about-res">
  <div class="container">
    <div class="about-res__pos">
      <h2 class="is-hidden">Про наш Ресторан</h2>
      <div class="about-res__contain">
        <p class="about-res__pretitle pretitle">Amet minim mollit non</p>
        <p class="about-res__title title">MIMIHO</p>
        <p class="about-res__text text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-res__thumb">
        <picture>
          <source
            srcset="
              ./images/homepage/about-restaurant/desktop/image-1.jpg    1x,
              ./images/homepage/about-restaurant/desktop/image-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/homepage/about-restaurant/tablet/image-1.jpg    1x,
              ./images/homepage/about-restaurant/tablet/image-1-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/about-restaurant/mobile/image-1.jpg    1x,
              ./images/homepage/about-restaurant/mobile/image-1-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-res__image"
            src="./images/homepage/about-restaurant/mobile/image-1-2x.jpg"
            alt="Наш ресторан"
            width="460"
          />
        </picture>
      </div>
    </div>
    <div class="about-res__container">
      <div class="about-res__pic">
        <picture>
          <source
            srcset="
              ./images/homepage/about-restaurant/desktop/image-2.jpg    1x,
              ./images/homepage/about-restaurant/desktop/image-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/homepage/about-restaurant/tablet/image-2.jpg    1x,
              ./images/homepage/about-restaurant/tablet/image-2-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage/about-restaurant/mobile/image-2.jpg    1x,
              ./images/homepage/about-restaurant/mobile/image-2-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-res__image"
            src="./images/homepage/about-restaurant/mobile/image-2-2x.jpg"
            alt="Наш ресторан"
            width="460"
          />
        </picture>
      </div>
      <p class="about-res__desc text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-res__wrapper">
      <div class="slider-about about-res__slider">
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/254x254/image-19.jpg    1x,
                ./images/slider/254x254/image-19-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/194x194/image-21.jpg    1x,
                ./images/slider/194x194/image-21-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/245x245/image-19.jpg    1x,
                ./images/slider/245x245/image-19-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/254x254/image-19-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/254x254/image-20.jpg    1x,
                ./images/slider/254x254/image-20-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/194x194/image-22.jpg    1x,
                ./images/slider/194x194/image-22-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/254x254/image-20.jpg    1x,
                ./images/slider/254x254/image-20-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/254x254/image-20-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/245x245/image-9.jpg    1x,
                ./images/slider/245x245/image-9-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/194x194/image-9.jpg    1x,
                ./images/slider/194x194/image-9-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/245x245/image-9.jpg    1x,
                ./images/slider/245x245/image-9-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/245x245/image-9-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
        <div class="slider_card">
          <picture>
            <source
              srcset="
                ./images/slider/245x245/image-16.jpg    1x,
                ./images/slider/245x245/image-16-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/slider/194x194/image-16.jpg    1x,
                ./images/slider/194x194/image-16-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/slider/245x245/image-16.jpg    1x,
                ./images/slider/245x245/image-16-2x.jpg 2x
              "
              media="(min-width: 414px)" />
            <img
              src="./images/slider/245x245/image-16-2x.jpg"
              alt="Зображення слайдеру"
              width="254"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
