<section class="about-res">
  <div class="about-res__pos">
    <span class="">Amet minim mollit non</span>
    <h2 class="">MIMIHO</h2>
    <p class="">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/homepage/about-restaurant/desktop/image-1.jpg    1x,
          ./images/homepage/about-restaurant/desktop/image-1-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/homepage/about-restaurant/tablet/image-1.jpg    1x,
          ./images/homepage/about-restaurant/tablet/image-1-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/homepage/about-restaurant/mobile/image-1.jpg    1x,
          ./images/homepage/about-restaurant/mobile/image-1-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class=""
        src="./images/homepage/about-restaurant/mobile/image-1.jpg"
        alt="Our restaurant"
        width="460"
      />
    </picture>
  </div>
  <div class="about-res__pos">
    <picture>
      <source
        srcset="
          ./images/homepage/about-restaurant/desktop/image-2.jpg    1x,
          ./images/homepage/about-restaurant/desktop/image-2-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/homepage/about-restaurant/tablet/image-2.jpg    1x,
          ./images/homepage/about-restaurant/tablet/image-2-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/homepage/about-restaurant/mobile/image-2.jpg    1x,
          ./images/homepage/about-restaurant/mobile/image-2-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class=""
        src="./images/homepage/about-restaurant/mobile/image-2.jpg"
        alt="Our restaurant"
        width="460"
      />
    </picture>
    <p class="">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
