<section class="details-restaurant ">

<div class="details-restaurant__section">
    <p class="details-restaurant__logo">MIMINO</p>
    <h2 class="details-restaurant__title title">Ресторан</h2>
    <p class="details-restaurant__dscr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
    mollit.</p>

</p>  

</div> 
<!-- SLIDER -->
<div class="variable-width">
    <div>
        <img src="" alt="слайдер" >
    </div>
    <div>
        <img src="" alt="слайдер" >
    </div>
        
</div>

<button type="button" class="button ">
    Забронювати столик
</button>
<button type="button" class="button ">
Переглянути меню
</button>

</section>