<section class="details">
    <div class="container hero-overlay">
        <div class="details-hotel_info">
            <p class="details_logo title">MIMIHO</p>
            <h2 class="details_title">Готель</h2>
            <p class="details_text text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        </div>
        <div class="details-hotel_container">
            <div class="multiple-items">
                <div class="slick-track ">
                    <picture>
                        <source srcset="./images/homepage/details-hotel/image-1.jpg    1x,
                                        ./images/homepage/details-hotel/image-1-2x.jpg 2x"
                                        media="(min-width: 1280px)">
                        <source srcset="./images/homepage/details-hotel/image-1.jpg    1x,
                                        ./images/homepage/details-hotel/image-1-2x.jpg 2x"
                                        media="(min-width: 1024px)">
                        <source srcset="./images/homepage/details-hotel/image-1.jpg    1x,
                                        ./images/homepage/details-hotel/image-1-2x.jpg 2x"
                                        media="(min-width: 414px)">
                        <img src="./images/homepage/details-hotel/image-1.jpg" alt="">
                    </picture>
                </div>
                <div class="slick-track ">
                    <picture>
                        <source srcset="./images/homepage/details-hotel/image-2.jpg    1x,
                                        ./images/homepage/details-hotel/image-2-2x.jpg 2x"
                                        media="(min-width: 1280px)">
                        <source srcset="./images/homepage/details-hotel/image-2.jpg    1x,
                                        ./images/homepage/details-hotel/image-2-2x.jpg 2x"
                                        media="(min-width: 1024px)">
                        <source srcset="./images/homepage/details-hotel/image-2.jpg    1x,
                                        ./images/homepage/details-hotel/image-2-2x.jpg 2x"
                                        media="(min-width: 414px)">
                        <img src="./images/homepage/details-hotel/image-2.jpg" alt="">
                    </picture>
                </div>
                <div class="slick-track ">
                    <picture>
                        <source srcset="./images/homepage/details-hotel/image-3.jpg    1x,
                                        ./images/homepage/details-hotel/image-3-2x.jpg 2x"
                                        media="(min-width: 1280px)">
                        <source srcset="./images/homepage/details-hotel/image-3.jpg    1x,
                                        ./images/homepage/details-hotel/image-3-2x.jpg 2x"
                                        media="(min-width: 1024px)">
                        <source srcset="./images/homepage/details-hotel/image-3.jpg    1x,
                                        ./images/homepage/details-hotel/image-3-2x.jpg 2x"
                                        media="(min-width: 414px)">
                        <img src="./images/homepage/details-hotel/image-3.jpg" alt="">
                    </picture>
                </div>
            </div>
                <!-- <div class="details_icon-svg">
                    <svg class="slick-prev-left" width="32" height="32">
                        <use href="./images/sprite.svg#icon-cil_arrow-left"></use>
                    </svg>
                    <svg class="slick-next-right" width="32" height="32">
                        <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
                    </svg>
                </div> -->
            <div class="details-hotel_button">
                <button type="button" class="details_button button js-open-modal" data-modal="room">Забронювати номер</button>
                <button type="button" class="details_button button js-open-modal" data-modal="price">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>