<section class="details-restaurant__section">

<div class="container details-restaurant ">
    <div class="details-restaurant__wrapper">
        <p class="details-restaurant__title title">MIMIHO</p>
        <h2 class="details-restaurant__caption ">Ресторан</h2>
        <p class="details-restaurant__dscr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
    
    </div>  
    
    
    <!-- SLIDER -->
   
    
    <div class="buttons">
        <button type="button" class="button ">
            Забронювати столик
        </button>
        <button type="button" class="button ">
        Переглянути меню 
        </button>
    </div >

</div>  
</section>