<section class="hero">
  <div class="container hero__container">
    <div class="hero__text-container">
      <h1 class="hero__title">mimiho</h1>
      <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
      <p class="hero__slogan">смак життя 24/7</p>
    </div>
    <div class="hero__button-container">
      <button type="button" class="button js-open-modal" data-modal="table">
        Забронювати столик
      </button>
      <button type="button" class="button js-open-modal" data-modal="room">
        Забронювати номер
      </button>
    </div>
    <address class="hero__address">
      <svg class="icon-gps" width="20" height="20">
        <use href="./images/sprite.svg#gps"></use>
      </svg>
      <a
        href="https://goo.gl/maps/jPzLqsJaYpwTijAQ8"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="address"
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>
    <!-- додати шляхи до соцмереж -->
    <ul class="soc__list">
      <li>
        <a class="socials-item" href="" aria-label="instagram">
          <svg class="socials-icon" aria-hidden="true" focusable="false">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials-item" href="" aria-label="facebook">
          <svg class="socials-icon" aria-hidden="true" focusable="false">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials-item" href="" aria-label="telegram">
          <svg class="socials-icon" aria-hidden="true" focusable="false">
            <use href="./images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
