.about-res {
  padding-top: 16px;

  &__pos {
  }
  &__subtitle {
    color: #B4B4B4;
  }
  &__title {
    color: #494848;
  }
  &__text {
    color: #5F5F5F;
  }
  &__image {
  }
  &__thumb{
  }
  &__pic{
  }
  &__desc {
    color: #C79002;
  }
}
