.about-hotel {
  padding-top: 16px;
  padding-bottom: 16px;

  &__pos {
    @media screen and (min-width: 1024px) {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 24px;
      transform: translateY(-24px);
    }
    @media screen and (min-width: 1280px) {
      gap: 37px;
    }
  }
  &__contain {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__pretitle {
    display: flex;
    justify-content: flex-end;
    color: #b4b4b4;
    margin-bottom: 6px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 4px;
    }
  }
  &__title {
    transform: translateX(0.3em);
    margin-bottom: 16px;

    color: #494848;
    @media screen and (min-width: 1024px) {
      margin-bottom: 24px;
    }
  }
  &__text {
    transform: translateX(1.4em);
    width: 258px;
    color: #5f5f5f;
    @media screen and (min-width: 1024px) {
      transform: translateX(0);
      width: 419px;
    }
    @media screen and (min-width: 1280px) {
      width: 488px;
    }
  }
  &__image {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  &__thumb {
    margin-top: 28px;
    width: 244px;
    @media screen and (min-width: 1024px) {
      margin-top: 0;
      width: 400px;
    }
    @media screen and (min-width: 1280px) {
      width: 460px;
    }
  }
  &__container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    @media screen and (min-width: 1024px) {
      position: relative;
      justify-content: flex-end;
      gap: 48px;
      margin-top: 0;
      transform: translateY(-15px);
    }

    @media screen and (min-width: 1280px) {
      transform: translateY(-47px);
    }
  }

  &__pic {
    width: 200px;
    @media screen and (min-width: 1024px) {
      width: 350px;
    }
    @media screen and (min-width: 1280px) {
      width: 460px;
    }
  }
  &__desc {
    width: 163px;
    color: #c79002;
    @media screen and (min-width: 1024px) {
      width: 312px;
    }
  }

  &__wrapper {
    width: 585px;
    padding-top: 32px;
    padding-bottom: 56px;
    transform: translateX(-239px);
    @include tablet {
      width: 508px;
      padding-top: 0;
      padding-bottom: 80px;
      // transform: translateY(-37px);
      margin-top: -37px;
      transform: translateX(-60px);
    }
    @include desktop {
      width: 626px;
      padding-bottom: 102px;
      margin-top: -142px;
    }
  }
}
