.about-res {
  padding-top: 16px;

  &__pos {
    @media screen and (min-width: 1024px) {
      position: relative;
      display: flex;
      align-items: center;
      gap: 24px;
      transform: translateY(-32px);
    }
    @media screen and (min-width: 1280px) {
      gap: 37px;
      transform: translateY(-33px);
    }
  }

  &__contain {
  }

  &__pretitle {
    color: #b4b4b4;
    margin-bottom: 12px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 4px;
    }
  }
  &__title {
    color: #494848;
    margin-bottom: 12px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 24px;
    }
  }
  &__text {
    width: 258px;
    color: #5f5f5f;
    @media screen and (min-width: 1024px) {
      width: 439px;
    }
    @media screen and (min-width: 1280px) {
      width: 518px;
    }
  }
  &__image {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  &__thumb {
    margin-top: 28px;
    width: 244px;
    margin-left: auto;
    @media screen and (min-width: 1024px) {
      width: 400px;
      margin-top: 0;
      margin-left: 0;
    }
    @media screen and (min-width: 1280px) {
      width: 460px;
    }
  }
  &__container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media screen and (min-width: 1024px) {
      position: relative;
      justify-content: flex-start;
      gap: 48px;
      transform: translateY(-15px);
      margin-top: 0;
    }

    @media screen and (min-width: 1280px) {
      transform: translateY(-65px);
    }
  }

  &__pic {
    width: 200px;
    @media screen and (min-width: 1024px) {
      width: 350px;
    }
    @media screen and (min-width: 1280px) {
      width: 460px;
    }
  }
  &__desc {
    width: 163px;
    color: #c79002;
    @media screen and (min-width: 1024px) {
      width: 312px;
    }
  }

  &__wrapper {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 72px;
    transform: translateX(15px);
    @include tablet {
      width: 508px;
      padding-top: 0;
      padding-bottom: 96px;
      margin-left: auto;
      // transform: translateY(-37px);
      margin-top: -37px;
    }
    @include desktop {
      width: 626px;
      padding-bottom: 118px;
      margin-top: -142px;
      transform: translateX(20px);
    }
  }
}
