
.details-restaurant__section{
      padding-top: 18px;
    padding-bottom: 40px;

}

.details-restaurant{
  
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/homepage/details-restaurant/bgr-m-1x.jpg);
        background-size: cover;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                    url(../images/homepage/details-restaurant/bgr-m-2x.jpg);
            }
        
            @include tablet {
                padding-top: 48px;
                background-image:
                    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                    url(../images/homepage/details-restaurant/bgr-t-1x.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image:
                        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                        url(../images/homepage/details-restaurant/bgr-t-2x.jpg);
                }
            }
        
            @include desktop {
                padding-top: 48px;
                background-image:
                linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                    url(../images/homepage/details-restaurant/bgr-d-1x.jpg);

        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image:
                        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                        url(../images/homepage/details-restaurant/bgr-d-2x.jpg);
                }

            }


          

}

.details-restaurant__wrapper{
    margin-left: 140px;

@include tablet {
        margin-left: 278px;
    }

                 @include desktop {
             margin-left: 338px;
         }
}

.details-restaurant__title{

        color: var(--primary-text-color-1);
        margin-bottom: 12px;
}

.details-restaurant__caption{
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color:var(--primary-text-color-1);  
margin-bottom: 20px;
}


.details-restaurant__dscr{
    font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
color: #BABABA;
margin-bottom: 48px;
margin-right: 15px;

@include tablet {
        margin-right: 136px;
    }

                 @include desktop {
            margin-right: 332px;
        }

}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;

        @include tablet {
        align-items: flex-start;
         margin-left: 47px;
        }

                 @include desktop {
                    align-items: flex-start;
                   margin-left: 85px;
                 }
    
}


