.hero {
  max-width: 414px;
  margin: 0 auto;
  position: relative;
  height: 740px;
  background-color: #3e3e3e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/homepage/hero/mobile/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/homepage/hero/mobile/image-1-2x.jpg);
  }
  @include tablet {
    max-width: 1024px;
    height: 720px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/homepage/hero/tablet/image-1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/hero/tablet/image-1-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/homepage/hero/desktop/image-1.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/hero/desktop/image-1-2x.jpg);
    }
  }
}
.hero-container {
  padding-top: 181px;
  @include tablet {
    padding-top: 188px;
  }
  @include desktop {
    padding-top: 164px;
  }
}
.hero__title {
  font-family: 'Film P3 Bold';
  font-weight: 700;
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: var(--primary-text-color-1);
  text-align: center;
  text-indent: 40px;
  margin-bottom: 24px;
  @include tablet {
    font-size: 128px;
    line-height: calc(138 / 128);
    margin-bottom: 16px;
  }
  @include desktop {
    margin-bottom: 32px;
  }
}
.hero__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-text-color-1);
  text-align: center;
  margin-bottom: 40px;
  @include tablet {
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-bottom: 56px;
  }
  @include desktop {
    margin-bottom: 64px;
  }
}
.hero__slogan {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-text-color-1);
  text-align: center;
  margin-bottom: 113px;
  @include tablet {
    font-size: 36px;
    line-height: calc(41 / 36);
    margin-bottom: 145px;
  }
}
.reserved {
  display: block;
  @include tablet {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
  }
}
.reserved__button {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  width: 236px;
  height: 48px;
  margin: 0 auto;
  &:hover,
  &:focus {
    background-color: #ffffff;
    border: 2px solid #f3c653;
  }
  @include tablet {
    margin: 0;
  }
}
.reserved__table {
  margin-bottom: 24px;
  @include tablet {
    margin: 0;
  }
}
.hero__address {
  display: flex;
  position: absolute;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
  top: 64px;
  right: 15px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  width: 210px;
  height: 47px;
  @include tablet {
    width: 285px;
    height: 56px;
    gap: 10px;
    top: 600px;
    left: 47px;
  }
  @include desktop {
    left: 85px;
    top: 607px;
  }
}
.address {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.01em;
  color: #e5e5e5;
  @include tablet {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
.icon-gps {
  fill: var(--accent-color);
  @include tablet {
    width: 24px;
    height: 24px;
  }
}
.soc__list {
  position: absolute;
  left: 15px;
  bottom: 20px;
  display: flex;
  gap: 15px;
  @include tablet {
    left: 47px;
    bottom: 15px;
    gap: 20px;
  }
  @include desktop {
    top: 38px;
    left: 1083px;
    // закриваю при десктопі - Соня
    display: none;
  }
}
.soc__icon {
  fill: var(--icon-soc-color);
}
