// .slick-track {
//     display: flex;
//     // display: block;
//     gap: 20px;
//     @media screen and (min-width: 1024px) {
//       gap: 32px;
//     }
//     @media screen and (min-width: 1280px) {
//       gap: 87px;
//     }
//   }

.details {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1024px) {
  }

  @media screen and (min-width: 1280px) {
    width: auto;
  }
}
.hero-overlay {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/homepage/details-hotel/hero-image/hero-mobile-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/homepage/details-hotel/hero-image/hero-mobile-2x-min.jpg);
  }

  @include tablet {
    max-width: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/homepage/details-hotel/hero-image/hero-tablet-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/homepage/details-hotel/hero-image/hero-tablet-2x-min.jpg);
    }
  }

  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/homepage/details-hotel/hero-image/hero-desktop-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/details-hotel/hero-image/hero-desktop-2x-min.jpg);
    }
  }
}

.details-hotel_info {
}

.details_logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-left: 127px;
  margin-top: 24px;
  margin-bottom: 12px;

  @include tablet {
    margin-left: 497px;
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.07;
  }

  @include desktop {
    margin-left: 655px;
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.07;
  }
}
.details_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 186px;
  margin-bottom: 8px;

  @include tablet {
    font-size: 24px;
    line-height: 29px;
    margin-left: 612px;
    margin-bottom: 8px;
  }

  @include desktop {
    font-size: 24px;
    line-height: 29px;
    margin-left: 770px;
  }
}

.details_text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
  width: 243px;
  height: 62px;
  left: 32px;
  top: 123px;
  margin-left: 17px;
  margin-bottom: 48px;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
    width: 549px;
    height: 44px;
    left: 197px;
    top: 170px;
    margin-left: 150px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 595px;
    height: 44px;
    left: 347px;
    top: 170px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 262px;
    margin-bottom: 40px;
  }
}

.details-hotel_container {
  @include tablet {
    display: flex;
    align-items: flex-end;
  }

  @include desktop {
    display: flex;
    align-items: flex-end;
  }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #f3c653 !important;
  cursor: pointer;
}
.slick-slider {
  margin-left: 40px;
}

.slick-arrow {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-prev,
.slick-next {
  color: transparent !important;
}

.slick-prev {
  background: transparent;
}

.slick-next {
  background: transparent;
}

.multiple-items {
  margin-bottom: 16px;
  gap: 20px;
  max-width: 359px;

  @include tablet {
    margin-bottom: 24px;
    gap: 32px;
    max-width: 662px;
  }

  @include desktop {
    margin-bottom: 24px;
    gap: 87px;
    max-width: 874px;
  }
}

.details_icon-svg {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.details-hotel_button {
  margin-bottom: 40px;

  @include tablet {
    margin-left: 32px;
  }

  @include desktop {
  }
}

.details_button {
  margin: 0 auto;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}
